<% provide(:title, 'Admin Control Panel')%>

<h1>Admin Control Panel</h1>

<h2>Users</h2>

<%= link_to "Manage users", users_path, class: "btn btn-default" %>

<h2>Airlines</h2>

<%= manage_airlines_link %>

<h2>Airports</h2>

<%= manage_airports_link %>