<% provide(:title, 'Admin Control Panel')%>

<h1>Admin Control Panel</h1>

<h2>Users</h2>

<ul>
  <li><%= link_to "Manage users", users_path %></li>
</ul>

<h2>Airlines</h2>

<ul>
  <li><%= manage_airlines_link %></li>
</ul>