<% provide(:title, 'Admin Control Panel')%>

<h1>Admin Control Panel</h1>

<h2>Users</h2>

<p><%= link_to "Manage users", users_path, class: "btn btn-outline-primary" %></p>

<h2>Airlines</h2>

<p><%= manage_airlines_link %></p>

<h2>Airports</h2>

<p><%= manage_airports_link %></p>