<div class="center jumbotron">
	<h1>Group Itinerary</h1>
  <hr />
	<p>Create time bar charts for multiple travelers</p>
  <hr />
	
	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-default" %>
  &emsp;or&emsp;
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-default" %>
</div>