<% provide(:title, "Edit Flight") %>
<% provide(:form_button, "Edit Flight") %>

<h1>
  Edit Flight<br/>
  <small>for <span class="subtitle-emphasis"><%= @traveler.traveler_name %></span> in <span class="subtitle-emphasis"><%= @event.event_name %></span>
</h1>

<%= render 'form' %>

<hr />

<div class="delete-button">
  <%= link_to "Delete this flight", @flight, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this flight?" }, role: "button" %>
</div>