<% provide(:title, 'Edit My Event')%>
<% provide(:form_button, 'Update my event')%>
<h1>Edit <%= @event.event_name %></h1>

<%= render 'form' %>
			
<hr />
<div class="delete-button">
	<%= link_to "Delete this entire #{@event.event_name} event".html_safe, @event, method: :delete, data: { confirm: "Are you sure you want to delete #{@event.event_name}? This will also delete all #{@event.event_name} itineraries!"}, class: "btn btn-danger" %>
</div>