<% provide(:title, "Edit Traveler") %>
<% provide(:form_button, "Update traveler info") %>

<h1>
  <%= "Edit Traveler" %><br/>
  <small>from <span class="subtitle-emphasis"><%= @event.event_name %></span></small>
</h1>

<%= render "form" %>

<hr />
<div class="delete-button">
	<%= link_to "Delete this traveler", @traveler, method: :delete, data: { confirm: "Are you sure you want to delete this traveler?"}, class: "btn btn-danger" %>
</div>