<% provide(:title, "Add a New Traveler") %>
<% provide(:form_button, "Create traveler") %>

<h1>Add a New Traveler<br/>
  <small>to <span class="subtitle-emphasis"><%= @event.event_name %></span></small>
</h1>

<%= render "form" %>