<% provide(:title, "New Airport") %>
<% provide(:form_button, "Create Airport")%>

<h1>New Airport</h1>

<p class="alert alert-info">The preferred method to create an airport is to allow automatic airport creation by entering a flight. However, if that fails, this form allows an airport to be created manually.</p>

<%= render partial: "form", locals: { show_iata: true } %>