svg {font-family: "Source Sans Pro", sans-serif; font-size: 13px;}

.svg_airport_block_start {
  text-anchor: end;
  dominant-baseline: baseline;
}
.svg_airport_block_end {
  text-anchor: beginning;
  dominant-baseline: baseline;
}
.svg_airport_label {
  fill: hsl(0,0%,30%);
  font-size: 110%;
  font-weight:
  $font-weight-bold;
}
.svg_background {
  fill: hsl(0,50%,100%);
}
.svg_bar {
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.svg_flight_text {
  font-size: 90%;
  text-anchor: middle;
  dominant-baseline: baseline;
}
.svg_gridline_dst_switch {
  stroke-width: 3;
  stroke-linecap: butt;
  stroke: hsl(0,0%,85%);
  shape-rendering: crispEdges;
}
.svg_gridline_major {
  stroke-width: 1;
  stroke-linecap: butt;
  stroke: hsl(0,0%,85%);
  shape-rendering: crispEdges;
}
.svg_gridline_minor {
  stroke-width: 1;
  stroke: hsl(0,0%,92%);
  shape-rendering: crispEdges;
}
.svg_gridline_major_horizontal {
  stroke-width: 1;
  stroke: hsl(0,0%,85%);
  shape-rendering: crispEdges;
}
.svg_gridline_minor_horizontal {
  stroke-width: 1;
  stroke: hsl(0,0%,95%);
  shape-rendering: crispEdges;
}
.svg_layover_text {
  font-size: 90%;
  text-anchor: middle;
  dominant-baseline: baseline;
}
.svg_legend_text {
  font-size: 100%;
  fill: hsl(0,0,30%);
}
.svg_person_name {
  fill: hsl(0,0%,30%);
  font-size: 110%;
  font-weight: $font-weight-bold;
  text-anchor: start;
  dominant-baseline: baseline;
}
.svg_person_nickname {
  fill: hsl(0,0%,60%);
  font-size: 100%;
  font-weight: 400;
  font-style: italic;
  text-anchor: start;
  dominant-baseline: baseline;
}
.svg_time_label {
  fill: hsl(0,0%,60%);
  font-size: 100%;
  font-variant: small-caps;
}
.svg_time_zone_label {
  fill: hsl(0,0%,50%);
  font-size: 100%;
  font-weight: $font-weight-bold;
}