/* universal */

html {
	font-size: 14pt;
}

body {
	font-family: "Source Sans Pro", sans-serif;
  background-color: hsl(200,5%,97%);
  padding: 0;
}

svg {
  @include box-visual;
}

section {
	overflow: auto;
}

table {
  margin: 10px 0;
}

/* typography */

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.light {
  font-weight: $font-weight-light;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
}

h1 {
	font-size: 3em;
	text-align: center;
  small {
    font-size: 50%;
    font-weight: $font-weight-light;
    text-align: center;
    span.subtitle-emphasis {
      border-bottom: 1px solid $gray-300;
    }
  }
}

h2 {
	font-size: 2.5em;
  font-weight: 400;
	color: hsl(0,50%,40%);
}

h3 {
  font-size: 1.5em;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 1.25em;
}

p {
	line-height: 1.7em;
}

a.prominent {
  text-decoration: underline;
  font-weight: $font-weight-bold;
}



/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-300;
	}
}

/* Images */

img.icon {
  width:  48px;
  height: 24px;
  margin:  5px;
}

img.octicon {
  height: 1em;
}

.icon-thumbs-up {
  font-family: 'entypo';
}