/* universal */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
  background-color: hsl(200,5%,97%);
}

header {
  div {
    background-color: hsl(200,5%,93%);
  }
}

svg {
  @include box-visual;
}

section {
	overflow: auto;
}

table {
  background-color: hsl(200,0,100%);
  border: 1px solid $color-border;
  margin: 10px 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: hsl(200,5%,97%);
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

a.prominent {
  text-decoration: underline;
  font-weight: $font-weight-bold;
}

.event-info a {
  text-decoration: underline;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 2.5em;
  font-weight: 400;
	margin-bottom: 30px;
	color: hsl(0,50%,40%);
}

h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 1.25em;
}

p {
	line-height: 1.7em;
}

/* header */

#logo {
  font-size: 28px;
  font-weight: 300;
  color: $gray;
	&:hover {
		text-decoration: none;
	}
  img {
    margin-top: -5px;
    width: 32px;
    height: 32px;
    border: 1px solid $color-border;
    border-radius: 4px;
  }
}

/* footer */

footer {
	margin-top: 45px;
  margin-bottom: 35px;
	padding-top: 5px;
	border-top: 1px solid $gray-lighter;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}



/* Admin */

a.admin-attention {
  font-weight: $font-weight-bold;
}

span.unread {
  background-color: red;
  color: white;
  font-size: 90%;
  font-weight: 400;
  padding: 0.1em 0.5em;
  border-radius: 1em;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

/* Images */

img.icon {
  width:  48px;
  height: 24px;
  margin:  5px;
}