.edit-button {
  float: right;
  font-size: $font-size-small;
}

a.edit-link {
  font-size: 75%;
}

a.inline-link {
  margin-left: 1.5em;
}

span.time-zone {
  font-weight: 300;
}

div.traveler-itinerary {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  @include box-visual;
  
  div.traveler-name {
    padding: 15px;
  }
  
  div.traveler-flights {
    padding: 0 15px 15px 15px;
  }
  
  div.traveler-info {
    font-style: italic;
  }
  
  div.flight {
    margin-bottom: 10px;
  }
  
  h3 {
    margin: 0;
  }
  
  h4 {
    padding: 0.25em;
    background-color: $color-background-light;
    @include box-visual;
    text-align: center;
  }
  
}



table.flight {
  border: none;
  width: 100%;
  
  div.flight-airline {
  }
  
  div.flight-city {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }
  
  div.flight-date-time {
    font-size: $font-size-small;
  }
  
  div.flight-edit {
    text-align: center;
    margin-top: 0.25em;
  }
  
  div.flight-iata {
    margin-bottom: 0.2em;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    line-height: 1.1;
  }
  
  td {
    padding: 0.5em;

    border-top:    1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
    
  td.flight-identifier {
    width: 20%;
    text-align: center;
    font-size: $font-size-small;
  }
  
  td.flight-airport {
    width: 35%;
    vertical-align: top;
  }
  
  td.flight-origin {
    text-align: left;
  }
  
  td.flight-separator {
    width: 10%;
    vertical-align: top;
    padding-top: 0.9em;
    font-size: 150%;
  }
  
  td.flight-destination {
    text-align: right;
  }
  
  td.flight-new-button {
    text-align: center;
    font-size: $font-size-small;
    padding: 15px;
    .btn {
      min-width: 75%;
    }
  }
  
}