.edit-button {
  float: right;
}

a.edit-link {
  margin-top: 0.25em;
  font-size: $font-size-small;
  text-decoration: underline;
}

a.share-link {
  word-wrap: break-word;
}

a.inline-link {
  margin-left: 1.5em;
}

span.time-zone {
  font-weight: 300;
}

div.event-info {
  a {
    text-decoration: underline;
  }
  p:last-child {
    margin-bottom: 0;
  } 
}

div.traveler-itinerary {
  margin-top: 2.5em;
  margin-bottom: 1em;

  div.card {
    margin: 0.5em 0;
  }
    
  div.flight {
    margin-bottom: 10px;
  }

  div.flight-identifier {
    font-size: $font-size-small;
    text-align: center;
  }

  div.flight-origin {
    text-align: left;
  }
  
  div.flight-separator {
    vertical-align: top;
    padding-top: 0.5em;
    font-size: 150%;
  }
  
  div.flight-destination {
    text-align: right;
  }

  div.flight-number {
    line-height: $line-height-compressed;
    margin-top: 0;
    margin-bottom: 0.75em;
  }
  
  div.flight-city {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }
  
  div.flight-date-time {
    font-size: $font-size-small;
    line-height: $line-height-compressed;
  }
  
  div.flight-edit {
    text-align: center;
    margin-top: 0.25em;
  }
  
  div.flight-code {
    margin-bottom: 0.2em;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    line-height: 1.1;
  }
  
  h3 {
    margin: 0;
  }
  
  h4 {
    text-align: center;
    margin: 0;
    small {
      font-weight: $font-weight-light;
    }
  }
  
}

table.flight {
  margin: 0;
  
  div.flight-airline, div.flight-number {
    line-height: $line-height-compressed;
  }
  
  div.flight-city {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }
  
  div.flight-date-time {
    font-size: $font-size-small;
    line-height: $line-height-compressed;
  }
  
  div.flight-edit {
    text-align: center;
    margin-top: 0.25em;
  }
  
  div.flight-code {
    margin-bottom: 0.2em;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    line-height: 1.1;
  }
  
  td {
    padding: 0.5em;
  }
    
  td.flight-identifier {
    width: 20%;
    text-align: center;
    font-size: $font-size-small;
  }
  
  td.flight-airport {
    width: 35%;
    vertical-align: top;
  }
  
  td.flight-origin {
    text-align: left;
  }
  
  td.flight-separator {
    width: 10%;
    vertical-align: top;
    padding-top: 0.9em;
    font-size: 150%;
  }
  
  td.flight-destination {
    text-align: right;
  }
  
  td.flight-new-button {
    text-align: center;
    font-size: $font-size-small;
    padding: 15px;
    .btn {
      min-width: 75%;
    }
  }
  
}

td.event-dates, th.event-dates {
  text-align: right;
  div:not(:last-child) {
    margin-bottom: 0.5em;
  }
}