/* forms */

form {
  div.card {
    margin-bottom: 1em;
  }
  div.card-header {
    font-weight: $font-weight-bold;
  }
}

#event-edit-share-bar {
  margin-bottom: 1rem;
}

input, textarea, select, .uneditable-input {
	margin-bottom: 15px;
	@include box_sizing;
}

input[type="date"] {
	height: 2.375rem;
}

textarea.form-control {
  height: 8em;
}

table.checkboxes {
	margin: 0;
	td {
		padding: 0 0.5rem;
		line-height: 1.2;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

.date-field {
  width: 225px;
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
  color: $form-feedback-invalid-color;
	.form-control {
		color: $form-feedback-invalid-color;
	}
  
}

div.inline-label {
  display: inline-block;
}

div.delete-button {
  text-align: center;
  margin-top: 40px;
}

div.button {
  font-size: $font-size-small;
}

input.airline-code {
  width: 5em;
}

input.airport-code {
  width: 5em;
}

input.code {
  text-transform: uppercase;
}

input.flight-number {
  width: 5em;
}

textarea {
	resize: vertical;
}