/* forms */

.btn, .form-control, select, textarea, input {
  font-size: 13pt;
}

.form-control {
  height: 2.25em;
}

input, textarea, select, .uneditable-input {
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

.date-field {
  width: 225px;
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
  color: $state-danger-text;
	.form-control {
		color: $state-danger-text;
	}
  
}

div.inline-label {
  display: inline-block;
}

div.delete-button {
  text-align: center;
  margin-top: 40px;
}

div.button {
  font-size: $font-size-small;
}

input.airline-iata {
  width: 4em;
}

input.airport-iata {
  width: 4em;
}

input.code {
  text-transform: uppercase;
}

input.flight-number {
  width: 5em;
}